{% extends 'base.html' %}

{% block head_files %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css">
{% endblock %}

{% block navbar_title %}
    <a class="navbar-brand" href="#">All events</a>
{% endblock %}

{% block content %}
   
   <div class="sidebar">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{{ url_for('main.day_plan') }}" class="nav-link active">
                    <i class="fas fa-info"></i>
                    Day dashboard
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('main.events') }}" class="nav-link">
                    <i class="fas fa-tasks"></i>
                    Calendar
                </a>
            </li>            
          </ul>
    </div>
    <div class="content">
      <form method="POST">
          <label for="date">Wybierz datę:</label>
          <input type="date" id="date" name="date" value="{{ date }}" required>
          <button id="submit" style="display: none;" type="submit">Pokaż wydarzenia</button>
      </form>
        {{ date }}
        <ul>
            {% for event in events %}
              {% if event.all_day == 1 %}
                {% if event.travel_time or event.location %} <li><i>{{ event.travel_time }} (travel), location: {{ event.location }}</i></li> {% endif %}
              {% else %}
                {% if event.travel_time or event.location %} <li>{{ event.travel_start.strftime("%H:%M") }} <i>(travel), location: {{ event.location }}</i></li> {% endif %}
              {% endif %}
              <li>{% if event.all_day == 0 %} {{ event.start.strftime("%H:%M") }} - {{ event.end.strftime("%H:%M") }} {% endif %}<b>{{ event.name }}</b></li>
            {% endfor %}
        </ul>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="eventModalLabel">Event Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="project-name"></p>
            <form id="eventForm">
              <div class="mb-3">
                <label for="eventTitle" class="form-label">Event Title</label>
                <input type="text" class="form-control" id="eventTitle">
              </div>
              <div class="mb-3">
                <label for="eventStart" class="form-label">Start Date</label>
                <input type="datetime-local" class="form-control" id="eventStart">
              </div>
              <div class="mb-3">
                <label for="eventEnd" class="form-label">End Date</label>
                <input type="datetime-local" class="form-control" id="eventEnd">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="deleteEvent">Delete</button>
            <button type="button" class="btn btn-primary" id="saveEvent">Save</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
    
{% block javascript %}
{% endblock %}

{% block js_files %}
<script src="{{ url_for('static', filename='js/day-plan.js') }}"></script>
{% endblock %}