{% extends "base.html" %}

{% block navbar_title %}
<a class="navbar-brand" href="#" contenteditable="true" id="edit-project-name">{{ project.name }}</a> <a href="#"><span class="badge badge-primary" style="margin-right: 10px;" data-toggle="modal" data-target="#changeCategoryModal">{{ project.category }}</span></a>
<button class="btn btn-outline-light ml-2" data-toggle="modal" data-target="#changeProjectModal"><i class="fas fa-exchange-alt"></i></button>
{% endblock %}

{% block content %}

    <div class="sidebar">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{{ url_for('projects.show', id=project.id) }}" class="nav-link">
                    <i class="fas fa-info"></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('projects.show_tasks', id=project.id) }}" class="nav-link">
                    <i class="fas fa-tasks"></i>
                    Tasks
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('projects.events', id=project.id) }}" class="nav-link">
                    <i class="fas fa-info"></i>
                    Events
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('projects.notes', id=project.id) }}" class="nav-link active">
                  <i class="fas fa-info"></i>
                    Notes
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('projects.files', id=project.id) }}" class="nav-link">
                  <i class="fas fa-info"></i>
                    Files
                </a>
            </li>
            
          </ul>
    </div>
    <div class="content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-dark text-light">
                <li class="breadcrumb-item"><a href="{{ url_for('projects.show', id=project.id) }}">{{ project.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{{ url_for('projects.notes', id=project.id) }}">Notes</a></li>
                <li class="breadcrumb-item">{{ note.name }}</li>
            </ol>
        </nav>
        <h2 contenteditable="true" id="edit-note-name">{{ note.name }}</h2>

        <div class="editable-section">
            <button class="edit-button float-right" onclick="toggleEditMode()"><i class="fas fa-edit"></i> Edit</button>
            <div id="displayText">
                {{ note.content }}
            </div>
            <div id="editText" style="display: none;">
                <textarea id="editableTextarea" class="editable-textarea"></textarea>
                <button class="btn btn-primary mt-2" onclick="saveText()">Save</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    {% include 'modals/change-project.html' %}

    {% include 'modals/change-project-category.html' %}

{% endblock %}

{% block javascript %}
    <script>
        const project_id = "{{ project.id }}";
        const note_id = "{{ note.id }}";
        var note_content = `{{ note.content }}`;
    </script>
{% endblock %}

{% block js_files %}
    <script src="{{ url_for('static', filename='js/note-edit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/project-edit-name.js') }}"></script>
{% endblock %}
