{% extends 'base.html' %}

{% block navbar_title %}
<a class="navbar-brand" href="#" contenteditable="true" id="edit-project-name">{{ project.name }}</a> <a href="#"><span class="badge badge-primary" style="margin-right: 10px;" data-toggle="modal" data-target="#changeCategoryModal">{{ project.category }}</span></a>
<button class="btn btn-outline-light ml-2" data-toggle="modal" data-target="#changeProjectModal"><i class="fas fa-exchange-alt"></i></button>
{% endblock %}

{% block content %}
   
   <div class="sidebar">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{{ url_for('projects.show', id=project.id) }}" class="nav-link">
                    <i class="fas fa-info"></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('projects.show_tasks', id=project.id) }}" class="nav-link">
                    <i class="fas fa-tasks"></i>
                    Tasks
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('projects.events', id=project.id) }}" class="nav-link">
                    <i class="fas fa-info"></i>
                    Events
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('projects.notes', id=project.id) }}" class="nav-link active">
                  <i class="fas fa-info"></i>
                    Notes
                </a>
            </li>
            
          </ul>
    </div>
    <div class="content">
        <button class="btn btn-outline-light ml-2"><i class="fas fa-plus"></i><a href="{{ url_for('projects.notes_create', id = project.id) }}">Create note</a></button>
        <ul class="list-group">
            {% for note in project.notes %}
                <li class="list-group-item bg-dark text-light"><a href="{{ url_for('projects.notes_edit', id = project.id, note_id = note.id) }}">{{ note.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- Modal -->
    {% include 'modals/change-project.html' %}

    {% include 'modals/change-project-category.html' %}

{% endblock %}
    
{% block javascript %}
<script>
    const project_id = "{{ project.id }}";
</script>
{% endblock %}

{% block js_files %}
{% endblock %}