{% extends 'base.html' %}

{% block head_files %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css">
{% endblock %}

{% block navbar_title %}
<a class="navbar-brand" href="#" contenteditable="true" id="edit-project-name">{{ project.name }}</a> <a href="#"><span class="badge badge-primary" style="margin-right: 10px;" data-toggle="modal" data-target="#changeCategoryModal">{{ project.category }}</span></a>
<button class="btn btn-outline-light ml-2" data-toggle="modal" data-target="#changeProjectModal"><i class="fas fa-exchange-alt"></i></button>
{% endblock %}

{% block content %}
   
   <div class="sidebar">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{{ url_for('projects.show', id=project.id) }}" class="nav-link">
                    <i class="fas fa-info"></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('projects.show_tasks', id=project.id) }}" class="nav-link">
                    <i class="fas fa-tasks"></i>
                    Tasks
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('projects.events', id=project.id) }}" class="nav-link active">
                    <i class="fas fa-info"></i>
                    Events
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('projects.notes', id=project.id) }}" class="nav-link">
                  <i class="fas fa-info"></i>
                    Notes
                </a>
            </li>
            
          </ul>
    </div>
    <div class="content">
        <div id="calendar"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="eventModalLabel">Event Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="eventForm">
              <div class="mb-3">
                <label for="eventTitle" class="form-label">Event Title</label>
                <input type="text" class="form-control" id="eventTitle">
              </div>
              <div class="mb-3">
                <label for="eventStart" class="form-label">Start Date</label>
                <input type="datetime-local" class="form-control" id="eventStart">
              </div>
              <div class="mb-3">
                <label for="eventEnd" class="form-label">End Date</label>
                <input type="datetime-local" class="form-control" id="eventEnd">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="deleteEvent">Delete</button>
            <button type="button" class="btn btn-primary" id="saveEvent">Save</button>
          </div>
        </div>
      </div>
    </div>

    {% include 'modals/change-project.html' %}

    {% include 'modals/change-project-category.html' %}

{% endblock %}
    
{% block javascript %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>

    <script>
        const project_id = "{{ project.id }}";
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: "/projects/" + project_id + "/events/get",
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                locale: 'pl',
                firstDay: 1,
                selectable: true,
                select: function(selectionInfo) {
                    var title = prompt('Event Title:');
                    var eventData;
                    if (title) {
                        console.log("Title:", title);
                        console.log("Start:", selectionInfo.startStr);
                        console.log("End:", selectionInfo.endStr);
                        let str = calendar.formatIso('2018-09-01');
                        console.log(str);
                        //console.log(selectionInfo.allDay);

                        let date_end = new Date(selectionInfo.endStr);
                        if(selectionInfo.allDay){
                          date_end.setDate(date_end.getDate() - 1);
                        }
                        console.log(date_end.toISOString());
                        //$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                        // Send new event data to the server
                        var all_day = 1;
                        if(selectionInfo.startStr.length > 10){
                            all_day = 0;
                        }

                        $.ajax({
                            url: '/projects/' + project_id + '/events/store',
                            type: 'POST',
                            data:{
                                "title": title,
                                "start": calendar.formatIso(selectionInfo.startStr),
                                "end": calendar.formatIso(date_end.toISOString()),
                                "all-day": all_day
                            },
                            success: function(response) {
                                console.log('Event added successfully:', response);
                                calendar.refetchEvents();
                            },
                            error: function(xhr, status, error) {
                                console.error('Error adding event:', error);
                                alert('Error: ' + status);
                            }
                        });
                    }
                    //$('#calendar').fullCalendar('unselect');
                },
                eventClick: function(info) {
                    


                    // Populate modal with event data
                    console.log(info);
                    let date_end = new Date(info.event.endStr).toLocaleString("pl-PL", {timeZone: "Europe/Warsaw"});
                    console.log(date_end.toISOString());
                    
                    document.getElementById('eventTitle').value = info.event.title;

                    if(info.event.allDay == false){
                      document.getElementById('eventStart').type = "datetime-local";
                      document.getElementById('eventEnd').type = "datetime-local";
                      document.getElementById('eventStart').value = info.event.startStr.slice(0,16);
                      document.getElementById('eventEnd').value = date_end.toISOString().slice(0,16);
                    }else{
                      date_end.setDate(date_end.getDate() - 1);
                      document.getElementById('eventStart').type = "date";
                      document.getElementById('eventEnd').type = "date";
                      document.getElementById('eventStart').value = info.event.startStr.slice(0,10);
                      document.getElementById('eventEnd').value = date_end.toISOString().slice(0,10);
                    }
                    
                    
                    
                    
                    // Open modal
                    var myModal = new bootstrap.Modal(document.getElementById('eventModal'));
                    myModal.show();
        
                    // Handle save button
                    document.getElementById('saveEvent').onclick = function() {
                        //console.log(info);
                      let date_end = new Date(document.getElementById('eventEnd').value);
                      if(info.event.allDay){
                        date_end.setDate(date_end.getDate() + 1);
                      }
                      
                      console.log(date_end.toISOString());
                      info.event.setProp('title', document.getElementById('eventTitle').value);
                      info.event.setStart(document.getElementById('eventStart').value);
                      info.event.setEnd(date_end.toISOString().slice(0, 16));


                    var all_day = 1;
                    if(info.event.startStr.length > 10){
                        all_day = 0;
                    }

                        date_end = new Date(info.event.endStr);
                        if(all_day){
                          date_end.setDate(date_end.getDate() - 1);
                        }
                        
                        console.log(date_end.toISOString());
                      
                      // Use AJAX to save the changes to the server
                      $.ajax({
                        url: '/projects/' + project_id + '/events/update', // Replace with your endpoint
                        type: 'POST',
                        data: {
                          id: info.event.id,
                          title: info.event.title,
                          start: calendar.formatIso(info.event.start),
                          end: info.event.end ? calendar.formatIso(date_end.toISOString()) : null,
                          all_day: all_day
                        },
                        success: function(response) {
                          console.log('Event updated successfully');
                        },
                        error: function(xhr, status, error) {
                          console.error('Error updating event:', error);
                        }
                      });
        
                      myModal.hide();
                    };
        
                    // Handle delete button
                    document.getElementById('deleteEvent').onclick = function() {
                        if(confirm("Do you want to delete event " + info.event.title + "?")){
                            
        
                            // Use AJAX to delete the event from the server
                            $.ajax({
                                url: '/projects/' + project_id + '/events/delete', // Replace with your endpoint
                                type: 'POST',
                                data: {
                                id: info.event.id
                                },
                                success: function(response) {
                                console.log('Event deleted successfully');
                                info.event.remove();
                                },
                                error: function(xhr, status, error) {
                                console.error('Error deleting event:', error);
                                }
                            });
                
                            myModal.hide();
                        }
                      
                    };
                }
            });
            calendar.render();
          });
    

    </script>
{% endblock %}

{% block js_files %}
<script src="{{ url_for('static', filename='js/project-edit-name.js') }}"></script>
<script src="{{ url_for('static', filename='js/project-tasks.js') }}"></script>
{% endblock %}