{% extends 'base.html' %}

{% block head_files %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css">
{% endblock %}

{% block navbar_title %}
<a class="navbar-brand" href="#" contenteditable="true" id="edit-project-name">{{ project.name }}</a> <a href="#"><span class="badge badge-primary" style="margin-right: 10px;" data-toggle="modal" data-target="#changeCategoryModal">{{ project.category }}</span></a>
<button class="btn btn-outline-light ml-2" data-toggle="modal" data-target="#changeProjectModal"><i class="fas fa-exchange-alt"></i></button>
{% endblock %}

{% block content %}
   
   <div class="sidebar">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{{ url_for('projects.show', id=project.id) }}" class="nav-link">
                    <i class="fas fa-info"></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('projects.show_tasks', id=project.id) }}" class="nav-link">
                    <i class="fas fa-tasks"></i>
                    Tasks
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('projects.events', id=project.id) }}" class="nav-link active">
                    <i class="fas fa-info"></i>
                    Events
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('projects.notes', id=project.id) }}" class="nav-link">
                  <i class="fas fa-info"></i>
                    Notes
                </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('projects.files', id=project.id) }}" class="nav-link">
                <i class="fas fa-info"></i>
                  Files
              </a>
            </li>
            
          </ul>
    </div>
    <div class="content">
        <div id="calendar"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="eventModalLabel">Event Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="project-name"></p>
            <form id="eventForm">
              <div class="mb-3">
                <label for="eventTitle" class="form-label">Event Title</label>
                <input type="text" class="form-control" id="eventTitle">
              </div>
              <div class="mb-3">
                <label for="eventStart" class="form-label">Start Date</label>
                <input type="datetime-local" class="form-control" id="eventStart">
              </div>
              <div class="mb-3">
                <label for="eventEnd" class="form-label">End Date</label>
                <input type="datetime-local" class="form-control" id="eventEnd">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="deleteEvent">Delete</button>
            <button type="button" class="btn btn-primary" id="saveEvent">Save</button>
          </div>
        </div>
      </div>
    </div>

    {% include 'modals/change-project.html' %}

    {% include 'modals/change-project-category.html' %}

{% endblock %}
    
{% block javascript %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script>
  const project_id = "{{ project.id }}";
</script>

{% endblock %}

{% block js_files %}
<script src="{{ url_for('static', filename='js/project-calendar.js') }}"></script>
<script src="{{ url_for('static', filename='js/project-edit-name.js') }}"></script>
<script src="{{ url_for('static', filename='js/project-tasks.js') }}"></script>
{% endblock %}